<div class="itinerary-item">
    <div class="description">
        <div class="place-name">Colosseo</div>
        <br>
        <div class="place-info">The Colloseum is an elliptical amphitheatre in the centre of the city of Rome,
            Italy, just east of the
            Roman Forum.</div>
        <div class="hours">
            <h4>9:00 AM</h4>
            <mat-icon class="hours-icon">arrow_forward</mat-icon>
            <h4>10:30 AM</h4>
        </div>
    </div>
    <div class="photo-container">
        <img class="place-photo" src="./assets/images/rome.jpg" alt="Place 1">
    </div>
</div>
<div class="next-dest">
    <mat-icon class="directions_bus">directions_bus</mat-icon>
    <h4 class="directions-time">8 - 10 min ~ Directions</h4>
</div>
<div class="itinerary-item">
    <div class="description">
        <div class="place-name">Colosseo</div>
        <br>
        <div class="place-info">The Colloseum is an elliptical amphitheatre in the centre of the city of Rome,
            Italy, just east of the
            Roman Forum.</div>
        <div class="hours">
            <h4>9:00 AM</h4>
            <mat-icon class="hours-icon">arrow_forward</mat-icon>
            <h4>10:30 AM</h4>
        </div>
    </div>
    <div class="photo-container">
        <img class="place-photo" src="./assets/images/rome.jpg" alt="Place 1">
    </div>
</div>
<div class="next-dest">
    <mat-icon class="directions_bus">directions_bus</mat-icon>
    <h4 class="directions-time">8 - 10 min ~ Directions</h4>
</div>