<div class="container">
    <br><br><br>
    <h2 style="font-size: 30px; text-align: center;">Change Password</h2><br>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <p style="font-size: 18px;">Password</p>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
                [(ngModel)]="formData.pass" required >
        </div><br>
        <p style="font-size: 18px;">Confirm Password</p>
        <div class="form-group">
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password"
                [(ngModel)]="formData.confirmpass" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <br>

</div>