<div class="container">
    <br><br><br>
    <h2 style="font-size: 40px; text-align: center;">Reset Password</h2>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm_reset()">
        <p style="font-size: 18px;">Password</p>
        <div class="form-group">
            <input type="password" class="form-control" id="password" formControlName="password" name="password"
                placeholder="Enter Password" required>
        </div>
        <mat-error *ngIf="password.hasError('minlength') ||password.hasError('noUppercase') ||
        password.hasError('noNumberOrSpecial') && password.touched">
            The password has to contain at least 8 letters, one uppercase letter and a number or a special character.
        </mat-error>
        <mat-error *ngIf="password.hasError('required') && password.touched">
            Password field is mandatory.
        </mat-error>
        <br>

        <br>
        <div class="btns">
            <button routerLink="/my-account" class="cancel">Cancel</button>
            <button mat-raised-button class="save" type="submit">
                {{ isSent ? "Sent" : "Send" }}
            </button>

        </div>
    </form>
    <br>

</div>