<div class="container">
    <div class="info">
        <div class="trip-info">
            <h2 class="title">Trip to Italy</h2>
            <h3 class="city">Rome, Italy</h3>
            <h3 class="dates">Feb 27 - 29, 2024 (3 days)</h3>
        </div>
        <br>
        <div class="options">
            <mat-icon>share</mat-icon><button routerLink="/manage-sharing" class="share-btn">Manage Sharing</button>
            <mat-icon>edit</mat-icon><button class="share-btn">Edit Trip Info</button>
            <mat-icon>delete</mat-icon><button class="share-btn">Delete Trip</button>
        </div>
    </div>
    <div class="trip-photo">
        <img class="photo" src="./assets/images/rome.jpg" />
    </div>
</div>