<div class="container" #container>
    <div class="info">
        <div class="trip-info">
            <h2 class="title">{{trip.title != ""? trip.title:"Trip to "+trip.city }}</h2>
            <h3 class="city">{{trip.city}}</h3>
            <h3 class="dates">
                {{ trip.startDate | date: 'MMM d' }} -
                {{ trip.endDate | date: 'MMM d, y' }}
                ({{ trip.tripLength }} {{ trip.tripLength === 1 ? 'day' : 'days' }})
            </h3>


        </div>
        <br>
        <div class="options">
            <!-- <mat-icon>share</mat-icon><button routerLink="/manage-sharing" class="share-btn">Manage
                Sharing</button> -->

            <mat-icon>share</mat-icon>
            <button class="share-btn" (click)="shareTrip(trip.itinerary_id)">Share Trip</button>
            <div  *ngIf="openLinkTab" class="link">
                <div style="margin-top:8px; cursor:pointer">{{shareableLink}}</div>
                <mat-icon class="copy-icon" (click)="copyLink()" [ngClass]="{'copied': linkCopied}">
                    {{ linkCopied ? 'check' : 'content_copy' }}
                </mat-icon>
            </div>

            <mat-icon>edit</mat-icon><button (click)="navigateToViewTrip(trip.itinerary_id)" class="share-btn">See Trip
                Info</button>
            <mat-icon>delete</mat-icon><button #deleteButton (click)="openDialog(trip.itinerary_id, container)"
                class="share-btn">Delete Trip</button>
        </div>
    </div>
    <div class="trip-photo">
        <img class="photo" [src]="trip.photo" />
    </div>
</div>