<!-- <header>
    <span>Trip Evolve</span>
    <div class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown()">
        <mat-icon>person</mat-icon>
      </button>
      <div class="dropdown-content" *ngIf="showDropdown"> 
        <a (click)="deschideContul()">My account</a>
        <a (click)="deconectare()">Sign Out</a>
      </div>
    </div>
  </header>
   -->
<!-- <div class="header-content">
    <div class="buttons-container">
        <button id="domain" mat-raised-button routerLink="/domains" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" >
            <mat-icon>domain</mat-icon>
            Domenii
        </button>
        <button id="domain" mat-raised-button routerLink="/domains" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" >
            <mat-icon>domain</mat-icon>
            Domenii
        </button>
        <button id="domain" mat-raised-button routerLink="/domains" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" >
            <mat-icon>domain</mat-icon>
            Domenii
        </button>
        <div class="user-icon" (click)="toggleDropdown()">
            <mat-icon class="user">account_circle</mat-icon>
            <div class="logout-popup">
                <button mat-raised-button class="my-acc">
                    <mat-icon class="edit_account">account_box</mat-icon> Contul meu
                </button>
                <button mat-raised-button>
                    <mat-icon class="signout_icon">exit_to_app</mat-icon>Deconectează-te
                </button>
            </div>
        </div>
    </div>
</div> -->