<div class="header-content">
    <a routerLink="/intro">
        <img align="left" [src]="ImagePath" style="width: 200px; height: 60px" class="logo" />
    </a>
    <div class="buttons-container">
        <button id="sign-in" routerLink="/sign-in" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon class="signin_icon">person_outline</mat-icon>
            Sign In
        </button>
        <button id="sign-up" routerLink="/sign-up" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon class="signin_icon">person_outline</mat-icon>
            Sign Up
        </button>
    </div>
</div>