<div class="header-overlay" *ngIf="showLogoutPopup"></div>
<div class="header-content">
    <a routerLink="/intro">
        <img align="left" [src]="ImagePath" alt="nope" style="width: 200px; height: 60px" class="logo" />
    </a>
    <div class="buttons-container">
        <button id="home" mat-raised-button routerLink="/home" [disabled]="showLogoutPopup" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" *ngIf="isLoggedIn">
            <mat-icon>home</mat-icon>
            Home
        </button>
        <button id="sign-in" routerLink="/sign-in" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" [disabled]="showLogoutPopup" *ngIf="!isLoggedIn">
            <mat-icon class="signin_icon">person_outline</mat-icon>
            Sign In
        </button>
        <button id="sign-up" routerLink="/sign-up" routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }" [disabled]="showLogoutPopup" *ngIf="!isLoggedIn">
            <mat-icon class="signin_icon">person_outline</mat-icon>
            Sign Up
        </button>
        <div class="user-icon" *ngIf="isLoggedIn" (click)="onClickIcon()">
            <div class="user-icons">
                <mat-icon class="user">account_circle</mat-icon>
                <mat-icon class="user-arrow">keyboard_arrow_down</mat-icon>
            </div>
            <div class="logout-popup" *ngIf="showLogout ">
                <button mat-button routerLink="/my-account" class="my-acc">
                    <mat-icon class="edit_account">account_box</mat-icon>  <div class="profile">Profile</div>
                </button>
                <button mat-button class="my-acc1" (click)="openSignOutDialog()">
                    <mat-icon class="signout_icon">exit_to_app</mat-icon> 
                    <div class="sign">Sign out</div>
                </button>
            </div>
        </div>
    </div>
</div>
