.header-content {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: lightgray;
  box-shadow: 0px 8px 8px lightgray;
  padding: 10px 24px 10px 34px;
  position: sticky;
  top: 0;
  background-color: white;
}

.buttons-container {
  display: flex;
  margin-left: auto;
}

#home,
#sign-up,
#sign-in {
  padding: 7px 7px;
  border-radius: 5%;
  border: none;
  color: white;
  background-color: #004AAD;
  margin-bottom: 4px;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#home {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #004AAD;
  color: #004AAD;
  height: 38px;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004AAD;
  margin-right: 10px;
}

mat-icon {
  background-color: transparent;
}

.user,
.user-arrow {
  display: flex;
  justify-content: center;
  color: #004AAD;
}

.user-arrow {
  margin-top: 3px;
  font-size: large;
}

.signout_icon{
  cursor: pointer;
  font-size: 20px;
  margin-left: -30px;
  margin-top: 10px;
}
.edit_account {
  cursor: pointer;
  font-size: 20px;
  margin-left: -40px;
  margin-top: 10px;
}

.my-acc,
.my-acc1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

.profile, .sign {
  cursor: pointer;
  margin-top: 12px;
  font-size: 15px;
  margin-left: 20px;
}

.user-icons {
  border: 2px solid #004AAD;
  padding: 4px 7px;
  display: flex;
  border-radius: 5%;
}

.logout-popup {
  margin-right: 50px;
  border: 1px solid #004AAD;
  display: inline-block;
  justify-content: center;
  position: absolute;
  top: 120%;
  padding: 10px;
  z-index: 100;
  background-color: white;
}

.logout-popup button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
  width: 120px;
}


.logout-popup button:hover {
  color: #ffffff;
  background-color: #004AAD;
}

.logout-popup button:focus {
  outline: none;
}

#home:hover {
  background-color: #004AAD;
  color: white;
}

#sign-up:hover,
#sign-in:hover {
  background-color: #1778e0;
}

.logo {
  height: 40px;
  width: 150px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

.button {
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
}

.signin_icon {
  font-size: 22px;
  margin-right: 5px;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -2px;
  background-color: white;
  color: #ffffff;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
  right: 5px;
}