<div class="back-icon" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</div>
<div class="elements">

  <div class="info-cont">
    <h3 class="info-h3">Personal Info</h3>
    <div class="info-user">
      <h3>{{ utilizator.firstname + " " + utilizator.lastname }}</h3>
      <h3>{{ utilizator.email }}</h3>
      <div class="btn">
        <button class="edit-btn" mat-raised-button routerLink="/edit-info">
          <mat-icon class="edit_account">edit_square</mat-icon>
          <div class="text-btn">Edit Personal Info</div>
        </button>
        <button class="edit-btn" mat-raised-button routerLink="/forgot-pass">
          <mat-icon class="edit_account">edit_square</mat-icon>
          <div class="text-btn">Reset Password</div>
        </button>
      </div>
    </div>
  </div>
</div>