h1 {
    color: #25283d;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.meu {
    color: #ba9797;
}

ul {
    margin-left: 10%;
    margin-top: 5%;
    list-style-type: none;
}

li {
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
}

li:hover {
    color: #ba9797;
}


.info-cont {
    background-color: white;
    margin:0 auto;
    margin-top: 10%;
    width: 700px;
    height: 230px;
    border:1px solid gray;
    box-shadow: 10px 10px 5px  lightblue;
}

.elements {
    display: flex;
}

.info-h3 {
    color: #25283d;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid #25283d;
}

.info-user {
    color: #25283d;
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
}

.info-user h3 {
    margin-bottom: 2px;
    opacity: 0.5;
}

.mat-mdc-raised-button:not(:disabled) {
    color: #ba9797;
    margin-left: 65%;
}
.edit-btn{
    color: white;
    border: 1px solid #004AAD;
    padding:5px 5px;
    background-color: #004AAD;
    /* margin-bottom: 4px; */
    margin-top:5px;
    /* margin-left:70%; */
    margin-right:10px;
    font-size: 16px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.edit_account{
    font-size: 24px;
}
.edit_account:hover{
    background-color: #90a0b5;
}
.edit-btn:hover{
    background-color: #1778e0;
}
.btn{
    float:right;
    display:flex;
}