<div class="header-overlay" *ngIf="isPopupOpen"></div>
<div class="nav-container">
    <ul class="nav-ul">
        <li (click)="toggleOption('upcoming')" [class.selected]="option === 'upcoming'"><a class="active">Upcoming
                Trips</a></li>
        <li (click)="toggleOption('past')" [class.selected]="option === 'past'"><a>Past Trips</a></li>
        <li><a>Community Trips</a></li>
    </ul>
</div>
<div class="container">
    <button class="add-trip-container" routerLink="/add-trip">
        <mat-icon>add_circle_outline</mat-icon>
        <span class="txt">Add Trip</span>
    </button>

    <ul>
        <li *ngFor="let trip of savedTrips">
            <app-trip-card [isPopupOpen]="isPopupOpen" (popupStateChanged)="onPopupStateChanged($event)" [trip]="trip"
                [totalTripCards]="savedTrips.length" (itineraryDeleted)="onTripDeleted($event)"></app-trip-card>
        </li>
    </ul>
    <div class="emptyMes" *ngIf="emptyMessage">
        {{emptyMessage}}
       
    </div>
    <button class="start"  *ngIf="emptyMessage && option=='upcoming'" routerLink="/add-trip">Start your Trip</button>
</div>