<div class="trip">
  <div class="trip-info">
    <div class="sub-header">
      <div class="back-icon">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
      </div>
      <button class="trip-evolve" routerLink="/home">Trip Evolve</button>
      <select class="location-preferences-dropdown">
        <option *ngFor="let preference of tripSummary.locationPreferences | keyvalue" [value]="preference.key">
          {{ preference.key }} ({{ preference.value }}%)
        </option>
      </select>
      <div class="share-btns">
        <div *ngIf="showSchedule && isLoggedIn" class="more-options-wrapper">
          <mat-icon class="dots" (click)="toggleMoreOptions()">more_vert</mat-icon>
          <div class="more-options" *ngIf="showMoreOptions">
            <div class="save-trip"  (click)="saveTrip()">Save Trip</div>
            <div class="share-trip">Share Trip</div>
            <div class="pdf" (click)="generatePdf()">Download as PDF</div>
          </div>
        </div>
        <!-- <button (click)="generatePdf()">Download as PDF</button>

        <button class="save-trip" *ngIf="showSchedule">Save Trip</button> -->
        <!-- <mat-icon class="icons">share</mat-icon>
        <button class="share-btn">Public Share</button>

        <mat-icon class="icons">person_add</mat-icon>
        <button class="share-btn2">Invite Trip Mate</button> -->
      </div>
      <!-- <button class="regenerate-btn" *ngIf="showSchedule" (click)="generateSchedule()">Regenerate Schedule</button> -->
    </div>

    <div class="trip-summary" *ngIf="!showSchedule && !loading">
      <h3>Quick Summary of your trip:</h3>
      <div *ngIf="tripSummary.selectedOption=='length'">
        <p>{{ tripSummary.tripLength }} {{nr_days}} in {{tripSummary.city}}</p>
      </div>
      <div *ngIf="tripSummary.selectedOption=='dates'">
        <p>{{tripSummary.city}} between {{ tripSummary.startDate }} - {{tripSummary.endDate}} </p>
      </div>
      <p>Preferences: </p>
      <div class="form-group">
        <div class="options-container">
          <!-- <div class="option" *ngFor="let location of tripSummary.selectedLocations">{{ location }}</div>  -->
          <div class="option" *ngFor="let preference of tripSummary.locationPreferences | keyvalue">
            {{ preference.key }}: {{ preference.value }}%
          </div>
        </div>
      </div>
      <button class="generate-btn" (click)="generateSchedule()">Generate Schedule</button>
    </div>

    <div class="loading-photo" *ngIf="loading">
      <img class="gif" src="./assets/images/loading.gif" alt="Loading...">
      <p class="loading-p">{{tripSummary.city}} is a great choice! We're gathering popular things to do, restaurants,
        and more...</p>
    </div>



    <div class="schedule-content" *ngIf="showSchedule">
      <img class="photo" [src]="getItineraryPhotoUrl()" alt="">
      <p>{{ tripSummary.tripLength }} {{nr_days}} in {{tripSummary.city}}</p>
      <div class="dropdown" *ngFor="let day of tripDays">
        <div class="dropdown-header" (click)="toggleDay(day)">
          <mat-icon id="expand-id">{{ day.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          <mat-icon id="loc-id"> location_on</mat-icon>
          <h2 class="dropdown-name">{{ day.day }}, {{day.date}}</h2>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': day.expanded}">
          <div *ngFor="let itineraryItem of filterItineraryByDay(day.dayNumber)">
            <!-- <app-itinerary-item  [itineraryItem]="item"></app-itinerary-item> -->
            <div class="itinerary-item">
              <div class="description">
                <div class="place-name">{{itineraryItem.order}}. {{itineraryItem.name}}</div>
                <br>
                <div class="place-info">{{ itineraryItem.address }}</div>
                <div class="place">
                  <div class="hours">
                    <h4>{{ itineraryItem.arrival_hour }}</h4>
                    <mat-icon class="hours-icon">arrow_forward</mat-icon>
                    <h4>{{ itineraryItem.leave_hour }}</h4>
                  </div>
                  <h4 class="type">{{ itineraryItem.type === 'tourism_attraction' ? 'must-see' : itineraryItem.type }}
                  </h4>
                </div>
              </div>
              <div class="photo-container">
                <img *ngIf="itineraryItem.photo && itineraryItem.photo.length > 0" class="place-photo"
                  [src]="getPhotoUrl(itineraryItem.photo[0].photo_reference)" alt="{{ itineraryItem.name }} Photo">

                <img *ngIf="!itineraryItem.photo || itineraryItem.photo.length === 0" class="place-photo"
                  src="./assets/images/rome.jpg" alt="Default Placeholder">
              </div>
            </div>
            <div *ngIf="itineraryItem.duration != -1" class="next-dest">
              <mat-icon class="directions_bus">directions_bus</mat-icon>
              <button (click)="openDirections(itineraryItem, getNextItineraryItem(itineraryItem))"
                class="directions-time">Get directions</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div class="day-btns">
      <button *ngFor="let day of tripDays" [class.selected]="selectedDay === day.dayNumber"
        (click)="showDayMarkers(day.dayNumber)">Day {{ day.dayNumber }}</button>
    </div>
    <div #gmapContainer id="map"></div>
  </div>
</div>