#map {
  height: 100%;
  width: 100%;
}

.trip {
  display: flex;
  justify-content: center;
}

.photo {
  width: 900px;
  height: 500px;
}

.loading-photo img {
  margin-left: -20%;
  margin-top: -20%;
  width: 140%;
  height: auto;
}

.schedule-content {
  position: relative;
}

.schedule-content p {
  position: absolute;
  top: 450px;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  width:30%;
  padding: 5px 5px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255,0.4);
  border: 1px solid rgb(255, 255, 255)fff;
  color: rgb(255, 255, 255);
}
.regenerate-btn{
  background-color: #004AAD;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  width:15%;
  height:70%;
  margin-top:10px;
  border:none;
  font-size: 17px;
  margin-left:55%;
}
.share-btns{
  color:#004AAD;
  display:flex;
  justify-content: center;
  margin-left:130px;
  width:40%;
}
.share-btn{
  margin-right: 10px;
  font-size: 15px;
  background-color: transparent;
  border:none;
  margin-top:25px;
  color:#004AAD;
  cursor: pointer;
}
.icons{
  width:30px;
  margin-top:25px;
  margin-left:5px;
  cursor: pointer;
}
.share-btn2{
  font-size: 15px;
  margin-top:25px;
  border:none;
  color:#004AAD;
  background-color: transparent;
  cursor: pointer;
}
.loading-photo {
  position: relative;
}

.loading-photo p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 5px;
  color: #004AAD;
  text-align: center;
  font-size: 30px;
}

.map-container {
  margin-left: 50%;
  width: 50%;
  height: 120%;
  position: fixed;
}

.sub-header {
  width:100%;
  z-index:1;
  display: flex;
  top: 0;
  background-color: rgb(250 250 250);
  height: 60px;
  position: sticky;
  border-bottom: 1px solid #ccc;
}

.trip-evolve {
  background-color: transparent;
  border: none;
  margin-left: -20px;
  color: #004AAD;
  font-size: 18px;
  cursor: pointer;
  margin-top: 4px;
}

.trip-evolve:hover,
.back-icon:hover {
  color: #1778e0;
}

.option {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
  cursor: pointer;
  margin-bottom: 10px;
  user-select: none;
}

.back-icon {
  width: 5%;
  color: #004AAD;
  margin-left: 5%;
  padding: 20px;
  margin-bottom: 5px;
}

.generate-btn {
  background-color: #004AAD;
  color: #fff;
  border: 1px solid #004AAD;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  width: 30%;
  margin-bottom: 10px;
}

.generate-btn:hover, .regenerate-btn:hover {
  background-color: #1778e0;
  border: 1px solid #1778e0;
}

h3 {
  color: #004AAD;
}

.trip-summary {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20%;
  font-size: 20px;
  text-align: center;
}

.hours-icon {
  margin-top: 5px;
  font-size: 20px;
  pointer-events: none;
}

h4 {
  text-align: center;
  margin-top: 5px;
}

.hours {
  width: 80%;
  height: 25px;
  text-align: center;
  display: flex;
}

mat-icon {
  margin-left: 0px;
  cursor: pointer;
}

#expand-id {
  margin-right: 10px;
  font-size: 30px;
}

.dropdown-name {
  margin-left: 0px;
}

#loc-id {
  font-size: 20px;
  margin-top: 5px;
  color: rgb(12, 78, 12);
}

.trip-info {
  width: 50%;
  margin-right: 50%;
}

.dropdown {
  margin-bottom: 10px;
}

.dropdown-header {
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(69 90 100);
  border-bottom: 1px solid rgb(69 90 100);
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}

.itinerary-item {
  width: 80%;
  height: 150px;
  background-color: rgb(250 250 250);
  border-radius: 15px;
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.itinerary-item:hover {
  background-color: rgb(245 245 245);
}

.place-name {
  font-size: 23px;
  margin-left: 20px;
}

.place-info {
  padding: 5px;
  margin-left: 10px;
  width: 200%;
  color: rgb(69 90 100);
  border-radius: 15px;
  font-size: 20px;
}

.place-photo {
  margin-top: 0px;
  border-radius: 15px;
  float: right;
  width: 35%;
}

.place-name {
  font-weight: bold;
}

.hours {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  color: rgb(69 90 100);
}