<div class="trip">
  <div class="trip-info">
    <div class="sub-header">
      <div class="back-icon">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
      </div>
      <button class="trip-evolve" routerLink="/home">Trip Evolve</button>
    </div>
    <h3>Quick Summary of your trip:</h3>
    <p>Trip Name: {{ tripSummary.tripName }}</p>
    <!-- <p>Location: {{ tripSummary.city }}</p> -->

    <!-- <img class="photo" src="./assets/images/rome.jpg">
    <div class="dropdown" *ngFor="let day of tripDays">
      <div class="dropdown-header" (click)="toggleDay(day)">
        <mat-icon id="expand-id">{{ day.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
        <mat-icon id="loc-id"> location_on</mat-icon>
        <h2 class="dropdown-name">{{ day.day }}, {{day.date}}</h2>
      </div>
      <div class="dropdown-content" [ngClass]="{'show': day.expanded}">
        <app-itinerary-item></app-itinerary-item>
      </div>
    </div> -->
  </div>
  <div class="map-container">
    <div #gmapContainer id="map"></div>
  </div>
</div>