<div class="trip">
  <div class="trip-info">
    <div class="sub-header">
      <div class="back-icon">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
      </div>
      <button class="trip-evolve" routerLink="/home">Trip Evolve</button>
      <!-- <div class="share-btns">
        <mat-icon class="icons">share</mat-icon>
        <button class="share-btn">Public Share</button>

        <mat-icon class="icons">person_add</mat-icon>
        <button class="share-btn2">Invite Trip Mate</button>
      </div> -->
      <!-- <button class="regenerate-btn" *ngIf="showSchedule" (click)="generateSchedule()">Regenerate Schedule</button> -->
    </div>

    <div class="trip-summary" *ngIf="!showSchedule && !loading">
      <h3>Quick Summary of your trip:</h3>
      <div *ngIf="tripSummary.selectedOption=='length'">
        <p>{{ tripSummary.tripLength }} {{nr_days}} in {{tripSummary.city}}</p>
      </div>
      <div *ngIf="tripSummary.selectedOption=='dates'">
        <p>{{tripSummary.city}} between {{ tripSummary.startDate }} - {{tripSummary.endDate}} </p>
      </div>
      <p>Preferences: </p>
      <div class="form-group">
        <div class="options-container">
          <div class="option" *ngFor="let location of tripSummary.selectedLocations">{{ location }}</div>
        </div>
      </div>
      <button class="generate-btn" (click)="generateSchedule()">Generate Schedule</button>
    </div>

    <div class="loading-photo" *ngIf="loading">
      <img class="gif" src="./assets/images/loading.gif" alt="Loading...">
      <p class="loading-p">{{tripSummary.city}} is a great choice! We're gathering popular things to do, restaurants,
        and more...</p>
    </div>


    <div class="schedule-content" *ngIf="showSchedule">
      <img class="photo" src="./assets/images/rome.jpg">
      <p>{{ tripSummary.tripLength }} {{nr_days}} in {{tripSummary.city}}</p>
      <div class="dropdown" *ngFor="let day of tripDays">
        <div class="dropdown-header" (click)="toggleDay(day)">
          <mat-icon id="expand-id">{{ day.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          <mat-icon id="loc-id"> location_on</mat-icon>
          <h2 class="dropdown-name">{{ day.day }}, {{day.date}}</h2>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': day.expanded}">
          <div *ngFor="let item of filterItineraryByDay(day.dayNumber)">
            <app-itinerary-item [itineraryItem]="item"></app-itinerary-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div #gmapContainer id="map"></div>
  </div>
</div>