<div class="container">
    <div class="title">
        <p style="font-size: 40px; margin-left:10px;">Manage Sharing</p>
        <div class="icons">
            <div class="share-btns">
                <mat-icon>share</mat-icon>
                <button class="share-btn" (click)="openPublicShareDialog()">Public Share</button>
            </div>
            <div class="share-btns">
                <mat-icon>person_add</mat-icon>
                <button class="share-btn2" (click)="openDialog()">Invite Trip Mate</button>
            </div>
        </div>
    </div>
    <div class="participants">
        <p style="font-size: 20px; margin-left:30px;">Participants</p>
    </div>
</div>