<h3 class="plan">Plan your next adventure</h3>
<br>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
        <h3>Trip Name</h3>
        <input type="text" placeholder="Enter Trip name" id="tripName" name="tripName" [(ngModel)]="formData.tripName"
            required>
    </div>
    <br>
    <div class="form-group">
        <h3>Where do you want to go?<span style="color: red;">*</span></h3>
        <input matInput type="text" placeholder="Search by city or town" #placesSearchInput id="location"
            [(ngModel)]="autocompleteInput" name="location" class="search-input" required>
    </div>
    <br>
    <h3>When do you want to go?<span style="color: red;">*</span></h3>
    <p style="color:#757575">Choose a date range or length of stay, up to 7 days.</p>
    <div class="trip-duration">
        <div class="dates" [class.selected]="selectedOption === 'dates'" (click)=" selectOption('dates')">Dates</div>
        <div class="length" [class.selected]="selectedOption === 'length'" (click)="selectOption('length')">Trip Length
        </div>
    </div>
    <div class="selected-content">
        <ng-container *ngIf="selectedOption === 'dates'; else lengthTemplate">
            <br>
            <div class="date-picker">
                <div class="start">
                    <label>Start Date</label>
                    <input name="start-date" id="start-date" type="date" (change)="startDateChanged($event)"
                        [(ngModel)]="formData.startDate" />
                </div>
                <div class=" end">
                    <label>End Date</label>
                    <input name="end-date" id="end-date" type="date" [min]="minEndDate" [max]="maxEndDate"
                        [(ngModel)]="formData.endDate" />
                </div>
            </div>
        </ng-container>

        <ng-template #lengthTemplate>
            <div class="trip-length-picker">
                <h3>Total days</h3>
                <div class="counter">
                    <mat-icon (click)="decrement()">remove_circle</mat-icon>
                    <div>{{ value }}</div>
                    <mat-icon (click)="increment()">add_circle</mat-icon>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="form-group">
        <h3>How do you want to spend your time?<span style="color: red;">*</span></h3>
        <p style="color:#757575">Select as many as you wish.</p>
        <br>
        <div class="options-container">
            <table>
                <tbody>
                    <tr class="preference" *ngFor="let location of locations">
                        <td>{{ location }}</td>
                        <td>
                            <input type="range" min="0" max="100" value="0"[value]="locationPreferences.get(location)" 
                            (input)="onRangeInputDebounced(location, $event)">
                                
                            <output>{{ locationPreferences.get(location) }}%</output> 
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <h3>Are there any places that you don't want to miss?</h3>
        <p style="color:#757575">Enter places separated by a comma.</p>
        <br>
        <div class="place-container">
            <input type="text" placeholder="Place 1, Place 2..." id="placeName" name="placeName"
                [(ngModel)]="formData.placeName" required>
        </div>
    </div>

    <div class="error-message">
        {{ message }}
    </div>

    <div class="btns">
        <button routerLink="/home" type="button" class="cancel">Cancel</button>
        <button type="submit" class="save">Submit</button>
    </div>
    <br>
</form>
<br><br>