/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.custom-snackbar {
    background-color: #c85c5c;
    color: #000000;
    font-size: 16px;
    text-align: center;
   
} 
