<div id="sect1" class="container">
</div>
<div class="right">
    <p class="text">
        <b class="slogan1"><span class="highlight2">Smart </span> <span class="highlight">Travel</span></b>
        <br>
        <b class="slogan2"><span class="highlight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starts</span><span
                class="highlight2"> Here.</span></b>

        <br /><br />
        Explore new destinations, uncover hidden treasures, and create personalized itineraries tailored to your
        preferences. With Trip Evolve, the world becomes your playground, waiting to be explored. Start your journey
        today.
    </p>

    <div class="intro-btns">
        <button class="started" *ngIf="!isLoggedIn" routerLink="/sign-up">Sign Up</button>
        <button class="started" *ngIf="isLoggedIn" routerLink="/home">Home</button>
        <div class="or"> OR </div>
        <button class="started" routerLink="/add-trip">Start Trip</button>
    </div>
</div>