#sect1 {
    background: url('../../assets/images/lov.jpg') no-repeat left;
    background-size: contain;
    width: 100%;
    margin-left: -10;
    padding-top: 50px;
    height: 83.2vh;
    background-color: #fbfbfb;
}

.container {
    color: lightgray;
}

.slogan1 {
    font-size: 50px;
}

.slogan2 {
    font-size: 50px;
}

.highlight {
    color: #004AAD;
}

.highlight2 {
    color: #FBA834;
}

.intro-btns{
    display: flex;
}
.or{
    color:#004AAD;
    margin-top: 5px;
    margin-left:20px;
    margin-right: 20px;
}
.text {
    font-size: 20px;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

.started {
    width: 140px;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid #004AAD;
    color: #004AAD;
    cursor: pointer;
    font-size: 25px;
    border-radius: 4px;

}

.started:hover {
    background-color: #004AAD;
    color: white;
}

.right {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-left: 1140px;
    margin-top: -600px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.6;
}