<div class="container">
    <br><br><br>
    <br>
    <div class="photo-container">
        <img class="photo" src="./assets/images/travel-png-images-all.png">
    </div>
    <div class="form">
        <br><br><br>
        <h1>Sign Up</h1>
        <br><br>
        <form action="#" (ngSubmit)="register(registerForm.value)" #registerForm="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" ngModel name="firstname" placeholder="First name"
                    required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="lastname" ngModel name="lastname" placeholder="Last name"
                    required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" ngModel name="email" placeholder="Email Address"
                    required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" ngModel name="password" placeholder="Password"
                    required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Create an Account</button>
        </form>
        <br>
        <p><a class="signin" routerLink="/sign-in">Already a TripEvolve user? Sign In.</a></p>

    </div>
</div>