<div class="back-icon" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </div>
<div class="container">
    <br>
    <h2 style="font-size: 40px; text-align: center;">Edit Personal Info</h2>
    <br>
    <form #registerForm="ngForm">
        <div class="form-group">
            <p>First Name</p>
            <input type="text" class="form-control" id="firstname" name="firstname" value="First Name"
                [(ngModel)]="utilizator.firstname" required>
        </div>
        <div class="form-group">
            <p>Last Name</p>
            <input type="text" class="form-control" id="lastname" name="lastname" value="Last Name"
                [(ngModel)]="utilizator.lastname" required>
        </div>
        <div class="form-group">
            <label>Email Address</label>
            <h3>{{ utilizator.email }}</h3>
        </div>
        
        <br><br>
        <div class="btns">
            <button type="submit" routerLink="/my-account" class="btn cancel">Cancel</button>
            <button type="submit" class="btn save">Save</button>
        </div>
    </form>
    <br>
</div>