
.container {
    background-color: white;
    width: 40%;
    border:1px solid gray;
    box-shadow: 10px 10px 5px  lightblue;
    margin:0 auto;
    margin-top:2%;
}

.form-group {
    margin-top:5px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.btns{
    display:flex;
    justify-content: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

.signin{
    text-decoration: none;
    color: #004AAD;
}
.signin:hover{
    color:#1778e0;
}
.btn {
    margin-left:5px;
    margin-right:10px;
    background-color: #004AAD;
    color: #fff;
    border: 1px solid #004AAD;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    width:100%;
}
.back-icon {
    cursor: pointer;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
    color: #004AAD;
}

.btn:hover{
    background-color: #1778e0;
    border: 1px solid #1778e0;
}
.cancel{
    border: 1px solid #FBA834;
    background-color:#FBA834;
}
.cancel:hover{
    border: 1px solid #FBA834;
    background-color:#FAA300;
}
label, p{
    font-size: 17px;
    /* margin-left: 10px; */
}