.container {
    box-shadow:8px 8px 8px rgb(148, 179, 211);
    border:none;
    background-color: white;
    width: 90%;
    height:630px;
    text-align: center;
    margin:0 auto;
    margin-top:3%;
    display:flex;
}
.photo-container{
    width:60%;
}
/* .photo{
    width:140%;
    margin-top:-8%;
    margin-left: -19%;
    height:125%;
} */
.photo{
    width:100%;
    margin-top:-16.5%;
    margin-left: -10%;
    height:135%;
}
.form{
    border-left: 1px double #004AAD;
    background-color: white;
    margin-left:0px;
    width:40%;
    text-align: center;
}
.form-group {
    margin:0 auto;
    margin-bottom: 20px;
    text-align: center;
    width:90%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

.signin{
    font-size: large;
    text-decoration: none;
    color: #004AAD;
}
.signin:hover{
    color:#1778e0;
}
mat-checkbox{
    font-size: large;
    margin-left: 10%;
}
.signin-a{
    font-size: large;
    margin-left: 30%;
    text-decoration: none;
    color: #004AAD;
    
}
.signin-a:hover{
    color:#1778e0;
}

.btn {
    background-color: #004AAD;
    color: #fff;
    border: 1px solid #004AAD;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    width:80%;
}

.btn:hover{
    background-color: #1778e0;
}
